h1{
    color: #ff0000;

}


.blue {
    color:blue;
}

.red{
    color:red !important;
}

#text1{
    color:purple;
}

.box{
    width: 200px;
    height: 200px;
    background-color: green;
    border: 15px solid red;
    padding: 15px 15px 15px 15px;
    margin: 15px;
    box-sizing: border-box;
}   